<nav class="grey darken-3">
<div class="nav-wrapper container">
    <a href="#" class="brand-logo center"><i class="fa fa-code" aria-hidden="true"></i> Allurine Developers</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
    <ul class="sidenav" id="mobile-demo">
         <li><a href="/dashboard"> <i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
     <li><a href="/stories"><i class="fa fa-users" aria-hidden="true"></i> Public Stories</a></li>
    
     <li><a href="/auth/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> logout</a></li>
    </ul>
</div>
</nav>