<h5><i class="fas fa-book-reader"></i> Software Developers Story</h5>
<div class="section">
    <p class="lead bold"> Create Public And Private Story Of Your Life As A software Developer <i class="fa fa-pencil" aria-hidden="true"></i></p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Login With Google
    </a>
</div>
